body {
    position: relative;
    padding: 40px;
    margin: 40px;
    box-sizing: border-box;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: blue;
    margin: 10px;
}
.wrapper {
    display: flex;
    justify-content: flex-start;
}
.wrapper .heart {
    margin-right: 10px;
}
.heart img {
    width: 100px;
    height: 100px;
}
